.content
  .header
    %ul.nav.nav-tabs
      %li
        =link_to "Home", "#"
      %li
        =link_to "Blog", "#"
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Dropdown
          %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
      %li.content_logo
        =image_tag 'vege_shop.png'
      %li.right
        =link_to "Cart", "#"
      %li.right
        =link_to "Log In", "#"

.banner
  .banner_content
    %h1 Organic Store
    %p Vegeterian shop with organic food
    %div.button
      =link_to "SEARCH OUR STORE", "#"
      %i.fa.fa-long-arrow-right{"aria-hidden" => "true"}

.callouts
  %h5 New products
  %div.links
    =link_to "ALL PRODUCTS", "#", class: "all"
    =link_to "FRUITS", "#"
    =link_to "VEGETABLES", "#"
    =link_to "OTHER", "#"

  %div
    .callout
      .row
        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'mushroom.jpg'
            %hr
            .caption
              %h3 Mushrooms - 1kg
              %p $9.50

        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'pumbkin.jpeg'
            %hr
            .caption
              %h3 Pumbkin - 1kg
              %p $9.50
        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'greenpea.jpeg'
            %hr
            .caption
              %h3 Green Pea - 1kg
              %p $9.50
        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'aubergine.jpeg'
            %hr
            .caption
              %h3 Aubergine - 1kg
              %p $9.50
      .row
        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'celery.jpeg'
            %hr
            .caption
              %h3 Celery - 1kg
              %p $9.50

        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'garlic.jpeg'
            %hr
            .caption
              %h3 Garlic - 1kg
              %p $9.50
        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'paprikamix.jpeg'
            %hr
            .caption
              %h3 Mushrooms - 1kg
              %p $9.50
        .col-xs-6.col-md-3
          .thumbnail
            =image_tag 'patatoes.jpeg'
            %hr
            .caption
              %h3 Mushrooms - 1kg
              %p $9.50


    %div.button2
      =link_to "SHOW MORE", "#"

.testimonial
  %div.test
    %h3 Fresh products with certification
    %p We offer the highest quality organic products
    %div
      =image_tag 'logo1.png',id: "logo"
      =image_tag 'logo2.png', id: "logo"


.custom
  %div#custom
    %h4 What our customers think
  .row
    .col-sm-6.col-md-4
      .caption
        %div.stil
          %h1.open
            “
          %p Your products are awesome!
          %h1.close
            ”
          %i.fa.fa-sort-desc{"aria-hidden" => "true"}
        =image_tag 'avatar1.jpeg', class: "avatar"
        %p.name Jonathon J.
    .col-sm-6.col-md-4
      .caption
        %div.stil
          %h1.open
            “
          %p Your products are awesome!
          %h1.close
            ”
          %i.fa.fa-sort-desc{"aria-hidden" => "true"}
        =image_tag 'avatar2.jpeg', class: "avatar"
        %p.name Sarah T.
    .col-sm-6.col-md-4
      .caption
        %div.stil
          %h1.open
            “
          %p Your products are awesome!
          %h1.close
            ”
          %i.fa.fa-sort-desc{"aria-hidden" => "true"}
        =image_tag 'avatar3.jpg', class: "avatar"
        %p.name Katherina P.
.contact
  %hr
  %table
    %tr
      %th Contact
      %th Shop
      %th Shopping
      %th Follow us on
    %tr
      %td=link_to "VegeShop", "#"
      %td=link_to "Products", "#"
      %td=link_to "Delivery Time", "#"
      %td
        =image_tag "facebook.png", class: "share"
        =image_tag "twitter.png", class: "share"
    %tr
      %td Warzywna 5/6
    %tr
      %td 87-100 Torun
      %td=link_to "Blog", "#"
      %td=link_to "Cost of delivery", "#"
    %tr
      %td +48 791 054 214
      %td= link_to "Help", "#"
      %td=link_to "Payment methods", "#"
    %tr
      %td
      %td=link_to "Terms", "#"
      %td=link_to "Complaints", "#"

  =image_tag 'contact.jpg'